@font-face {
    font-family: "Kufam";
    src: url("Kufam/Kufam-VariableFont_wght.ttf");
}
body {
    font-family: "Kufam";
    background-color: #baf5ff;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: darkblue;
}
a:active {
    color: blue;
}
.headerText {
    font-size: 200%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.subHeaderText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}
.centerText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}
.leftBlurb {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
    float: left;
    margin: 0px 15px 15px 0px;
    position: relative;
    text-align: center;
    color: black;
}
.rightBlurb {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
    float: right;
    margin: 0px 15px 15px 0px;
    position: relative;
    text-align: center;
    color: black;
}
.leftBlurbText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.rightBlurbText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}