@font-face {
    font-family: "Kufam";
    src: url("Kufam/Kufam-VariableFont_wght.ttf");
}
body {
    font-family: "Kufam";
}
.headerText {
    font-size: 200%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}