@font-face {
    font-family: "Kufam";
    src: url("Kufam/Kufam-VariableFont_wght.ttf");
}
body {
    font-family: "Kufam";
    background-color: #baf5ff;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: darkblue;
}
a:active {
    color: blue;
}
.headerText {
    font-size: 200%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.subHeaderText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.centerText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.blurbs {
    display: block;
    position: relative;
    text-align: center;
    color: black;
}
.blurbsText {
    position: absolute;
    bottom: 8px;
    left: 16px;
}